/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* ----------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(228, 69, 69);
    background: -moz-linear-gradient(126deg, rgba(228, 69, 69, 1) 0%, rgba(196, 93, 140, 1) 45%, rgba(255, 111, 27, 1) 100%);
    background: -webkit-linear-gradient(126deg, rgba(228, 69, 69, 1) 0%, rgba(196, 93, 140, 1) 45%, rgba(255, 111, 27, 1) 100%);
    background: linear-gradient(126deg, rgba(228, 69, 69, 1) 0%, rgba(196, 93, 140, 1) 45%, rgba(255, 111, 27, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e44545", endColorstr="#ff6f1b", GradientType=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cabin', sans-serif;
    width: 100%;
}


.wrapper {
    width: 80%;
    margin: auto;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 30px;
    font-family: 'Aboreto', cursive;
}

nav ul li a:hover {
    background-color: rgba(250, 250, 250, 0.7);
    animation-name: fade-in;
    animation-duration: 1s;
}

.wrapper header {
    display: block;
    padding: 20vh 0 40vh 10vh;
}

.wrapper .horizontal-line {
    height: 1px;
    background-color: black;
}

.wrapper header h1 {
    color: black;
    font-size: 60px;
}

.wrapper header p {
    font-size: larger;
}

.wrapper .portfolio {
    padding-top: 30vh;
}

.wrapper .portfolio figure {
    display: inline-flex;
    margin: 0;
}

.wrapper .portfolio>figure,
figcaption,
.vertical-line {
    margin: 10vh 10vh;
}

.portfolio ul {
    margin-left: 20px;
}

.portfolio .vertical-line {
    width: 1px;
    background-color: black;
}

.wrapper .portfolio img {
    margin: auto;
    height: 300px;
}

.portfolio figure figcaption a {
    padding: 20px 15vh;
    border: 1px solid;
    color: black;
    text-decoration: none;
}

.portfolio figure figcaption a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: beige;
    border: none;
    animation-name: fade-in;
    animation-duration: 1s;
}

.separator-line {
    height: 1px;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}